<main id="loginContainer">     
    <form class='formContainer' action="/users/register" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" placeholder="Enter Name"  
                value="<%= typeof name != 'undefined' ? name : '' %>" required/>
        </div>
        <br>
        <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Email"  
            value="<%= typeof email != 'undefined' ? email : '' %>" required/>
        </div>
        <br>
        <div >
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" required />
        </div>
        <br>
        <div >
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required />
        </div>
        <br>
        <button type="submit" class="xx"> Register</button>    <%- include ('./partials/messages') %>
        <br>
        <br>
        <p >Already have an account? <a class='links' href="/login">Login</a></p>
        <br>
        <p >Home Page <a class='links' href="/">Home</a></p>
    </form>
</main>